#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD1";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&to 0>;
        };

        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   // 10
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        label = "RGB_ENCODER";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // -------------------------------------------------------------------------------------------------------
            // | TAB   |  Q  |  W  |  E  |  R  |  T  |                ↑    |  Y  |  U   |  I  |  O  |  P  | BSPC  |
            // | SHIFT |  A  |  S  |  D  |  F  |  G  |                ↓    |  H  |  J   |  K  |  L  |  ;  |  '    | 
            // | CTRL  |  Z  |  X  |  C  |  V  |  B  |                ←    |  N  |  M   |  ,  |  .  |  /  | SHIFT |
            //                     | GUI | ALT | SPC |                →    | ENT | LWR  | RSE |
            //                                                      space

            bindings = <
&kp TAB    &kp Q  &kp W         &kp E     &kp R     &kp T          &kp UP_ARROW        &kp Y   &kp U  &kp I      &kp O    &kp P     &kp BSPC
&td0       &kp A  &kp S         &kp D     &kp F     &kp G          &kp DOWN_ARROW      &kp H   &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X         &kp C     &kp V     &kp B          &kp LEFT_ARROW      &kp N   &kp M  &kp COMMA  &kp DOT  &kp FSLH  &td0
                  &kp C_MUTE    &kp LGUI  &kp LALT  &lt 3 SPACE    &kp RIGHT_ARROW     &lt 3 ENTER    &mo 1    &mo 2
                                                                   &kp SPACE
            >;

            label = "QWERTY";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";

            // ----------------------------------------------------------------------------------------------------
            // |      | F1  | F2  | F3    | F4    | F5    |         | F6  | F7  | F8   | F9  | F10  | BSPC |
            // |      |  1  |  2  |  3    |  4    |  5    |         |  6  |  7  |  8   |  9  |  0   |      |
            // |      | F11 | F12 | PrtSc | ScrLk | Pause |         | DEL | INS | HOME | END | PGUP | PGDN |
            //                    |       |       |       |         |     |     |      |

            bindings = <
&trans    &kp F1     &kp F2     &kp F3           &kp F4          &kp F5            &mmv MOVE_UP       &kp F6       &kp F7       &kp F8       &kp F9      &kp F10       &kp BSPC
&trans    &kp N1     &kp N2     &kp N3           &kp N4          &kp N5            &mmv MOVE_DOWN     &kp N6       &kp N7       &kp N8       &kp N9      &kp N0        &none
&trans    &kp F11    &kp F12    &kp PRINTSCREEN  &kp SCROLLLOCK  &kp PAUSE_BREAK   &mmv MOVE_LEFT     &kp DEL      &kp INS      &kp HOME     &kp END     &kp PG_UP     &kp PG_DN
                     &trans     &trans           &trans          &trans            &mmv MOVE_RIGHT    &trans       &trans       &trans
                                                                                   &mkp LCLK
            >;

            label = "NUMBER";
            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |     |  !  |  @  |  #  |  $  |  %  |          |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // |     |  ~  |     | MB1 | MB3 | MB2 |          |     |  -  |  =  |  [  |  ]  |  \   |
            // |     |  `  |     |     | MB4 | MB5 |          |     |  _  |  +  |  {  |  }  | "|"  |
            //                   |     |     |     |          |     |     |     |

            bindings = <
&trans     &kp EXCL      &kp AT        &kp HASH   &kp DLLR   &kp PRCNT    &mmv MOVE_UP       &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR  &kp BSPC
&trans     &kp TILDE     &none         &mkp MB1   &mkp MB3   &mkp MB2     &mmv MOVE_DOWN     &none      &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH
&trans     &kp GRAVE     &none         &none      &mkp MB4   &mkp MB5     &mmv MOVE_LEFT     &none      &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE
                         &trans        &trans     &trans     &trans       &mmv MOVE_RIGHT    &trans     &trans     &trans
                                                                          &mkp LCLK
            >;

            label = "SYMBOL";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            display-name = "Fn";

            // ------------------------------------------------------------------------------------------------------------------------------------------------
            // | ESC        | RGB_ON    | RGB_OFF  | RGB_EFF | RGB_EFR |       |          | RGB_BRI | RGB_BRD    | RGB_SPI  | RGB_SPD |         | BSPC  |
            // |            | BT1       | BT2      | BT3     | BT4     | BT5   |          | GAME    |            |          | HOME    | UP      | END   |
            // |            |           |          | OUT_BLE | OUT_USB |       |          |         |            |          | LEFT    | DOWN    | RIGHT |
            //                                     |         |         |       |          |         |            |          |

            bindings = <
&kp ESC         &rgb_ug RGB_ON      &rgb_ug RGB_OFF      &rgb_ug RGB_EFF       &rgb_ug RGB_EFR     &none           &mmv MOVE_UP      &rgb_ug RGB_BRI      &rgb_ug RGB_BRD     &rgb_ug RGB_SPI      &rgb_ug RGB_SPD    &none            &kp BSPC
&trans          &bt BT_SEL 0        &bt BT_SEL 1         &bt BT_SEL 2          &bt BT_SEL 3        &bt BT_SEL 4    &mmv MOVE_DOWN    &to 4                &none               &none                &kp HOME           &kp UP_ARROW     &kp END
&trans          &none               &none                &out OUT_BLE          &out OUT_USB        &none           &mmv MOVE_LEFT    &none                &none               &none                &kp LEFT_ARROW     &kp DOWN_ARROW   &kp RIGHT_ARROW
                                    &trans               &trans                &trans              &trans          &mmv MOVE_RIGHT   &trans               &trans              &trans
                                                                                                                   &bt BT_CLR
            >;

            label = "FN";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_4 {
            display-name = "GAME";

            // ------------------------------------------------------------------------------------------------------------------------------------------------
            // |            |    |    |    |    |    |       |         |    |    |    |    |         |
            // |            |    |    |    |    |    |       |         |    |    |    |    | DEFAULT |
            // |            |    |    |    |    |    |       |         |    |    |    |    |         |
            //                             |    |    | SPACE |         |    |    |    |

            bindings = <
&trans          &trans      &trans      &trans       &trans       &trans           &trans        &trans       &trans      &trans      &trans      &trans      &trans
&trans          &trans      &trans      &trans       &trans       &trans           &trans        &trans       &trans      &trans      &trans      &trans      &td1
&trans          &trans      &trans      &trans       &trans       &trans           &trans        &trans       &trans      &trans      &trans      &trans      &trans
                                        &trans       &trans       &kp SPACE        &trans        &trans       &trans      &trans      &trans
                                                                                   &trans
            >;

            label = "GAME";
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
